In [2]:
#import dependencies
import pandas as pd
import numpy as np

In [3]:
#Bring in CSV
crime_csv = pd.read_csv('../../NYPD_Complaint_Data_Current__Year_To_Date__20250320.csv');

C:\Users\juszi\AppData\Local\Temp\ipykernel_18488\831775117.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  crime_csv = pd.read_csv('../../NYPD_Complaint_Data_Current__Year_To_Date__20250320.csv');

In [4]:
#Create DF with csv
crime_data_frame = pd.DataFrame(crime_csv)
#Show all columns
pd.set_option('display.max_columns', None)
#Display DF
crime_data_frame.head()

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,JURISDICTION_CODE,JURIS_DESC,KY_CD,LAW_CAT_CD,LOC_OF_OCCUR_DESC,OFNS_DESC,PARKS_NM,PATROL_BORO,PD_CD,PD_DESC,PREM_TYP_DESC,RPT_DT,STATION_NAME,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
0,296538111H1,42,BRONX,08/14/2024,19:41:00,NaN,(null),COMPLETED,(null),NaN,0,N.Y. POLICE DEPT,101,FELONY,INSIDE,MURDER & NON-NEGL. MANSLAUGHTER,(null),PATROL BORO BRONX,NaN,(null),MULTI DWELL - APT BUILD,08/14/2024,(null),(null),(null),(null),NaN,<18,WHITE HISPANIC,F,NaN,NaN,NaN,NaN,NaN,NaN
1,296164481,48,BRONX,02/01/2021,16:00:00,NaN,(null),COMPLETED,(null),NaN,0,N.Y. POLICE DEPT,104,FELONY,INSIDE,RAPE,(null),PATROL BORO BRONX,153.0,RAPE 3,PARK/PLAYGROUND,11/08/2024,(null),<18,BLACK HISPANIC,M,NaN,<18,BLACK,F,1011751.0,246839.0,40.844157,-73.900605,"(40.8441566000203, -73.9006054489734)",POINT (-73.9006054489734 40.8441566000203)
2,292224978,34,MANHATTAN,08/24/2024,00:38:00,NaN,(null),COMPLETED,(null),NaN,97,OTHER,114,FELONY,INSIDE,ARSON,(null),PATROL BORO MAN NORTH,263.0,"ARSON 2,3,4",RESIDENCE - APT. HOUSE,08/24/2024,(null),UNKNOWN,UNKNOWN,U,NaN,25-44,UNKNOWN,F,1003658.0,250199.0,40.853392,-73.929842,"(40.853392, -73.929842)",POINT (-73.929842 40.853392)
3,298613169,116,QUEENS,12/29/2024,16:23:00,12/29/2024,16:34:00,COMPLETED,(null),NaN,0,N.Y. POLICE DEPT,125,FELONY,(null),OTHER STATE LAWS,(null),PATROL BORO QUEENS SOUTH,847.0,"NY STATE LAWS,UNCLASSIFIED FEL",STREET,12/29/2024,(null),(null),(null),(null),NaN,UNKNOWN,UNKNOWN,E,1057893.0,182156.0,NaN,NaN,NaN,NaN
4,292542564,73,BROOKLYN,08/30/2024,14:55:00,08/30/2024,15:00:00,COMPLETED,(null),NaN,0,N.Y. POLICE DEPT,104,FELONY,(null),RAPE,(null),PATROL BORO BKLYN NORTH,157.0,RAPE 1,STREET,08/30/2024,(null),<18,BLACK,M,NaN,18-24,BLACK,F,1008245.0,183796.0,40.671130,-73.913502,"(40.6711300016904, -73.9135020552048)",POINT (-73.9135020552048 40.6711300016904)

In [5]:
#Create new df with just the important columns
consolidated_crime_df = crime_data_frame.copy()
consolidated_crime_df = consolidated_crime_df[['CMPLNT_NUM', 'CMPLNT_FR_DT', 'CMPLNT_FR_TM', 'OFNS_DESC',
                                               'CRM_ATPT_CPTD_CD', 'BORO_NM', 
                                               'Latitude', 'Longitude']]
#Filter for the crimes we are looking into
offenses = ['MURDER & NON-NEGL. MANSLAUGHTER', 'ARSON', 'GRAND LARCENY OF MOTOR VEHICLE']
consolidated_crime_df = consolidated_crime_df[consolidated_crime_df['OFNS_DESC'].isin(offenses)]
#Display the data frame
consolidated_crime_df.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,OFNS_DESC,CRM_ATPT_CPTD_CD,BORO_NM,Latitude,Longitude
0,296538111H1,08/14/2024,19:41:00,MURDER & NON-NEGL. MANSLAUGHTER,COMPLETED,BRONX,NaN,NaN
2,292224978,08/24/2024,00:38:00,ARSON,COMPLETED,MANHATTAN,40.853392,-73.929842
6,298487164,12/26/2024,07:56:00,ARSON,COMPLETED,BRONX,40.878619,-73.866900
12,282962459H1,02/28/2024,17:50:00,MURDER & NON-NEGL. MANSLAUGHTER,COMPLETED,BROOKLYN,40.665118,-73.958987
49,284155206,03/22/2024,01:55:00,GRAND LARCENY OF MOTOR VEHICLE,COMPLETED,STATEN ISLAND,40.624236,-74.079408

In [6]:
#Display the unique values in the OFNS_DESC (Offense Description) column to see which values we would like to isolate
consolidated_crime_df['OFNS_DESC'].unique()

array(['MURDER & NON-NEGL. MANSLAUGHTER', 'ARSON',
       'GRAND LARCENY OF MOTOR VEHICLE'], dtype=object)

In [7]:
def csv_save(df, crime_type: str):
    crime_csv_filename = f"nyc_{crime_type}.csv"
    df.to_csv(crime_csv_filename, index = False)

In [8]:
def crime_df_creator(df, crime_type: str):
    crime_df = df.copy()
    crime_df = crime_df[['CMPLNT_NUM', 'CMPLNT_FR_DT', 'CMPLNT_FR_TM', 'OFNS_DESC', 'Latitude', 'Longitude']]
    crime_df = crime_df[crime_df['OFNS_DESC'] == crime_type]
    return crime_df

In [9]:
#Create DataFrame for just Murder
murder_df = crime_df_creator(consolidated_crime_df, 'MURDER & NON-NEGL. MANSLAUGHTER')

#Create DataFrame for just Arson
arson_df = crime_df_creator(consolidated_crime_df, 'ARSON')

#Create DataFrame for just Grand Larceny of Motor Vehicle
gta_df = crime_df_creator(consolidated_crime_df, 'GRAND LARCENY OF MOTOR VEHICLE')

In [10]:
#Save the file as a csv
murder_csv = csv_save(murder_df, 'murder')

#Save the file as a csv
arson_csv = csv_save(arson_df, 'arson')

#Save the file as a csv
gta_csv = csv_save(gta_df, 'larceny_vehicles')